ion-toolbar {
    height: 51px;
    --background: var(--ion-toolbar-color);
}

@font-face {
  font-family: 'Pacifico';
  src: url('../../public/assets/fonts/Pacifico.ttf') format('truetype');
  font-weight: normal;
}

#ImagemDoacaoDetalhe{ 
  height: 100px;
  width: 150px;
  margin-left: -30px;
}
#TitleEditarDoacao{ 
 /* Mudar fonte pra pacifico (Não entendi como mudar)*/
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#EdicaoButton{
margin: 25px;
margin-top: 10px;
}

#anexarImagem{
text-align: left;
margin-left: 12px;
}
#PlusButton{
margin: 15px; 
height:60px;
width: 60px;

}

.inputCadastro {
  padding: 10px;
}


#logoToolbar{ 
    margin-top: 1px;
    height: 40px;
    color: white;
}
  
#ArrowBackToolbar{ 
    height: 25px;
    margin-right: -50px;
    color: white;
}
#menuToolbar{ 
    height: 25px;
    margin-left: 5px;
    color: white;
}

.ImagemCardsAnuncios {
    height: 150px;
    width: 150px;
    margin: 0%;
  }
  
  ion-footer{
    width: 100%;
    background: rgba(9, 185, 255, 0.678);
  }
 
  
  
  .TituloAnunciosCards {
    width: 100%;
  }
  
  #descricaoProduto {
    height: 200px;
  }

  /*
  #logoTwitterFooter {
  }*/

  #logoFacebookFooter {
    margin-right: 15px;
  }
 
  #logoInstaFooter {
    margin-left: 45%;
  }
  
  .cardsAnuncios {
    background: rgba(226, 226, 226, 0.678);
    width: 130px;
  }
  