ion-toolbar {
    height: 51px;
    --background: var(--ion-toolbar-color);
}


#logoToolbar{ 
    margin-top: 1px;
    height: 40px;
    color: white;
}
  
#ArrowBackToolbar{ 
    height: 25px;
    margin-right: -50px;
    color: white;
}
#menuToolbar{ 
    height: 25px;
    margin-left: 5px;
    color: white;
}

.ImagemCardsAnuncios {
    height: 150px;
    width: 150px;
    margin: 0%;
  }
  
  ion-footer{
    width: 100%;
    background: rgba(9, 185, 255, 0.678);
  }
  
  
  .TituloAnunciosCards {
    width: 100%;
  }
  
  #descricaoProduto {
    height: 200px;
  }

  /*
  #logoTwitterFooter {
  }*/

  #logoFacebookFooter {
    margin-right: 15px;
  }
 
  #logoInstaFooter {
    margin-left: 45%;
  }
  
  .cardsAnuncios {
    background: rgba(226, 226, 226, 0.678);
    width: 130px;
  }
  